<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="sentinel customer form" />

    <title>sentinel customer form</title>
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
  </head>
  <body>
    <main>      
        <!-- 创建 databse 的表单和 response -->
        <!-- <tr>
          <td>
            <h3>1. Create a new database</h3>
            <form id="databaseForm">
              <label for="dbName">Database name</label>
              <input type="text" id="dbName" />
              <input type="submit" />
            </form>
          </td> -->
          <!-- The database form response will be appended here after submitting it -->
          <!-- <td id="dbResponse"></td>
        </tr> !-->

        <!-- 创建 page 的表单和 response -->
        

            <form id="pageForm">
              <h1><strong>Leave your Message</strong></h1>
              <p>Hello, please leave your contact information. We'll contact you soon.</p>
              <!-- <label for="newPageDB" style="display:none;">Parent DB ID</label> -->
              <!-- <input type="text" id="newPageDB" style="display:none;" /> -->
              <div class="form-row">
                <div class="input-group">
                  <label for="newPageName">*Name</label>
                  <div class="input-icon-container">
                    <i class="fa-solid fa-circle-user"></i>
                    <input type="text" id="newPageName" />
                  </div>
                </div>
              
                <div class="input-group">
                  <label for="newEmail">*Email</label>
                  <div class="input-icon-container">
                    <i class="fa-solid fa-envelope"></i>
                    <input type="email" id="newEmail" placeholder="example@mail.com"/>
                  </div>
                </div>
              </div>
              

              <div class="form-row">
                <div class="input-group">
                  <label for="newPhoneNumber">WhatsApp</label>
                  <div class="input-icon-container">
                    <i class="fa-solid fa-phone-volume"></i>
                    <input type="tel" id="newPhoneNumber"/>
                  </div>
                </div>
              <!-- 隐藏了 -->
                <div class="input-group" style="visibility: hidden;">
                  <label for="header">Header 1</label>
                  <input type="text" id="header"/>
                </div>
              </div>
              

              <label for="newParagraph">Contents</label>
              <div class="input-icon-container">
                <i id="textarea-icon" class="fa-solid fa-comment"></i>
                <textarea id="newParagraph"></textarea>
              </div>

              <button type="submit"><strong>Submit</strong></button>
              <span class="bar"><span class="load"></span></span>
            </form>
       
          <!-- The page form response will be appended here after submitting it -->
          <!-- <td id="pageResponse"></td> -->
       

        <!-- 创建 content 的表单和 response -->
        <!-- <tr>
          <td>
            <h3>3. Add content to the page</h3>
            <form id="blocksForm">
              <label for="pageID">Page ID</label>
              <input type="text" id="pageID" />
              <label for="content">Content</label>
              <input type="text" id="content" />
              <input type="submit" />
            </form>
          </td> -->
          <!-- The page content/blocks form response will be appended here after submitting it -->
          <!-- <td id="blocksResponse"></td>
        </tr> -->

        <!-- 创建 comment到内容页面 的表单和 response -->
        <!-- <tr>
          <td>
            <h3>4. Add a comment to the content</h3>
            <form id="commentForm">
              <label for="pageIDComment">Page ID</label>
              <input type="text" id="pageIDComment" />
              <label for="comment">Comment</label>
              <input type="text" id="comment" />
              <input type="submit" />
            </form>
          </td> -->
          <!-- The comment form response will be appended here after submitting it -->
          <!-- <td id="commentResponse"></td>
        </tr> -->
    </main>

    <!-- 引入jQuery (必须，JS代码使用了jQuery) -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script> 
    
  </body>
</html>