/* this file is loaded by index.html and styles the page */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  margin: 2em 1em;
  line-height: 1.5em;
}

p{
  margin-top: -25px;
}
form {
  background-image: url('https://www.sentinel-china.com/cn/images/about/c-bg.jpg');
  background-size: cover;          /* 图片铺满整个表单区域 */
  background-position: center;     /* 图片居中显示 */
  background-repeat: no-repeat;    /* 防止图片重复 */
  display: grid;
  grid-gap: 1em;
  padding: 1em;
  max-width: 100%;
  color: #000; /* 根据图片背景深浅调整表单文字颜色 */
  position: relative;
}

input {
  border: 1px solid silver;
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
}

/* 一行显示 2 个输入框 */
.form-row {
  display: flex;
  gap: 1rem; /* 控制两个输入框之间的距离 */
}

.input-group {
  flex: 1; /* 两个输入框平均分配宽度 */
  display: flex;
  flex-direction: column;
}

/* 在文本框里添加 icon */
.input-icon-container {
  position: relative;
}


.input-icon-container input,.input-icon-container textarea  {
  width: 100%;
  padding-left: 35px; /* 为icon预留空间 */
  height: 35px;
  box-sizing: border-box;
}

.input-icon-container textarea {
  height: 100px;
}

.input-icon-container i {
  position: absolute;
  left: 10px;
  top: 40%;
  transform: translateY(-50%);
  color: #aaa;
}

#textarea-icon {
  position: absolute;
  left: 10px;
  top: 15%;
  transform: translateY(-50%);
  color: #aaa;
}
/* 在文本框里添加 icon */

button {
  background-color: #bbbbf2;
  border: 2px solid currentColor;
  border-radius: 0.25em;
  cursor: pointer;
  font-size: inherit;
  line-height: 1.4em;
  padding: 0.25em 1em;
  max-width: 20ch;
  cursor: pointer;
  margin-left: auto;
}



button:active {
  background-color: #b2b2d5;
}



/* 表单提交后的绿色对钩动画效果 */

button {
  position: relative;
  /* width: 200px;
  height: 70px; */
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  background-color: #1c1412;
  color: #f6df00;
  cursor: pointer;
  overflow: hidden;
  transition: background-color 0.5s ease;
}

button:hover {
  background-color: #f6df00;
  color:#1c1412;
}

.bar,
.load {
  position: absolute;
  bottom: 10%;
  left: 2.5%;
  width: 95%;
  height: 5px;
  border-radius: 20px;
  opacity: 0;
}

.bar {
  background-color: #b34700;
}

.load {
  background-color: #fff;
  width: 0%;
}

button:hover .bar,
button:hover .load {
  opacity: 1;
  transition: opacity 0.2s ease;
}

.loading {
  width: 100%;
  transition: width 5s linear;
}

button.complete {
  background-color: #4EBA4E;
}

button.complete strong,
button.complete .bar,
button.complete .load {
  opacity: 0;
}

button.complete::before {
  content: '\f00c';
  font-family: 'Font Awesome 6 Free';
  font-weight: 900;
  font-size: 1.5em;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  animation: appear 0.5s ease forwards;
}

@keyframes appear {
  from { opacity: 0; }
  to { opacity: 1; }
}