/* this file is loaded by index.html and styles the page */

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 2em 1em;
  line-height: 1.5em;
}

h1 {
  color: #7171d1;
  max-width: calc(100% - 5rem);
  line-height: 1.1;
}

table {
  width: 100%;
}

th {
  text-align: left;
}

td {
  width: 50%;
  word-break: break-all;
}

form {
  background-color: #eee;
  display: grid;
  grid-gap: 1em;
  padding: 1em;
  max-width: 40ch;
}

input {
  border: 1px solid silver;
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
}

/* 在文本框里添加 icon */
.input-icon-container {
  position: relative;
  width: 300px; /* 根据需求调整宽度 */
  margin-bottom: 15px;
}

.input-icon-container input,.input-icon-container textarea {
  width: 100%;
  padding-left: 35px; /* 为icon预留空间 */
  height: 35px;
  box-sizing: border-box;
}

.input-icon-container i {
  position: absolute;
  left: 10px;
  top: 40%;
  transform: translateY(-50%);
  color: #aaa;
}


button {
  background-color: #bbbbf2;
  border: 2px solid currentColor;
  border-radius: 0.25em;
  cursor: pointer;
  font-size: inherit;
  line-height: 1.4em;
  padding: 0.25em 1em;
  max-width: 20ch;
  cursor: pointer;
  margin-left: auto;
}

button:hover {
  background-color: #9292d3;
}

button:active {
  background-color: #b2b2d5;
}

footer {
  margin-top: 3em;
  padding-top: 1.5em;
  border-top: 1px solid lightgrey;
}
